<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAccountingService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/CargoService/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAccountingService"
                contract="ServiceReference1.IAccountingService" name="BasicHttpBinding_IAccountingService" />
        </client>
    </system.serviceModel>
</configuration>